/* HEADER */

.home__header {
    background-color: var(--amarillo);
}

.home__header__container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.home__header--logo {
    width: 40%;
    max-width: 200px;
    margin: 30px 0 0 20px;
}

.home__header--form {
    display: inline-block;
    background-color: white;
    padding: 7px 0;
    margin-left: 4px;
    border-radius: 5px;
    width: 50%;
}

.home__header--form input {
    border: none;
    width: 90%;
}

.home__header--form button {
    border: none;
    background: white;
    color: gray;
    display: inline-block;
    padding: 0;
    width: 1px;
}


.home__header--compra {
    text-align: center;
    margin: 15px;
}

.home__header__nav {
    margin: 0 15px;
}

.home__header__nav--menu {
    display: none;
    padding-left: 0;
}

.home__header__nav--account {
    display: none;
    padding-left: 0;
    margin: 15px 0 15px 0;
}

.burger-menu {
    text-align: center;
    font-size: large;
}

.burger-menu i {
    background-color: var(--celeste);
    color: white;
    padding: 6px;
    border-radius: 10%;
    text-align: center;
    margin: 0 0 10px 0;
}

.home__div__section--banner img {
    width: 100%;
}

/* MAIN */

.home__main {
    width: 90%;
    margin: 0 auto;
}

.home__main h2 {
    color: var(--grisOscuro);
    margin: 10px 0;
    font-size: var(--titulares);
}

.home__main__section--products article {
    margin: 10px 0;
    background-color: #ffffff;
}

.home__main__section--products article img {
    width: 100%;
}

.home__main__section__div {
    border-top: 1px solid var(--grisClaro);
    padding: 15px 15px 0 15px;
    position: relative;
    display: flex;
}

.home__main__section__div--containerTruck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.home__main__section__div p {
    font-size: var(--precios);
}

.home__main__section__div--discount {
    color: var(--verde);
    padding-left: 10px;
}

.home__main__section--products h4 {
    display: none;
    color: var(--grisOscuro);
    margin-top: 15px;
    font-weight: 500;
    padding: 0 15px 15px 15px;

}

.home__main__section--sale article {
    margin: 10px 0;
    background-color: #ffffff;
}

.home__main__section--sale article img {
    width: 100%;
}

.home__main__section--sale h4 {
    display: none;
    color: var(--grisOscuro);
    margin-top: 15px;
    font-weight: 500;
    padding: 0 15px 15px 15px;
}



/* FOOTER */

.home__footer {
    text-align: center;
}

.home__footer__section {
    margin: 30px;
    color: var(--grisOscuro);
}

.home__footer__section i {
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

.home__footer--copyright {
    text-align: left;
}


/* TABLET */

@media (min-width: 461px) {

    /* HEADER */

    .home__header__container {
        display: inline-block;
        width: 59%;
    }

    .home__header--logo {
        width: 49%;
        margin: 30px 0 0 10px;
    }

    .home__header--form {
        display: inline-block;
        margin: 17px 0 12px 4px;
        padding: 2px;
        border-radius: 5px;
        width: 44%;
    }

    .home__header--form input {
        border: none;
        width: 85%;
        font-size: 10px;
    }

    .home__header--compra {
        display: inline-block;
        font-size: 9px;
        width: 40%;
        margin: 0;
    }

    .home__header__nav {
        margin: 0 10px;
        display: flex;
    }


    .home__header__nav--menu {
        display: flex;
        font-size: 10px;
        padding: 15px 60px 15px 0;
    }

    .home__header__nav--menu li {
        padding-right: 5px;
    }

    .home__header__nav--account {
        display: flex;
        font-size: 9px;
    }

    .home__header__nav--account li {
        padding-right: 5px;
    }

    .burger-menu {
        display: none;
    }

    /* MAIN */

    .home__main h2 {
        width: -webkit-fill-available;
    }

    .home__main__section--products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .home__main__section--products article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    .home__main__section--products h4 {
        display: flex;
    }

    .home__main__section--sale {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home__main__section--sale article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    .home__main__section--sale h4 {
        display: flex;
    }

}


/* DESKTOP */

@media (min-width: 769px) {

    /* HEADER */

    .home__header__container {
        width: 65%;
    }

    .home__header--logo {
        max-width: 220px;
        margin: 30px 0 0 20px;
    }


    .home__header--form {
        width: 40%;
    }

    .home__header--compra {
        font-size: 11px;
        width: 28%;
    }

    .home__header__nav {
        margin: 0 20px;
    }

    .home__header__nav--menu {
        font-size: 12px;
        padding: 15px 257px 15px 0;
    }

    .home__header__nav--account {
        font-size: 12px;
    }

    /* MAIN */

    .home__main__section--products article {
        width: 20%;
    }

    .home__main__section--sale article {
        width: 20%;
    }

}