/* REGISTER */

.body__register {
    background-color: var(--grisClaro);
}

.register {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.register-form input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
    margin: 10px;
}

.register-form label {
    font-family: sans-serif;
    padding-left: 10px;
    margin-top: 10px;
}

.register-form-button {
    border: none;
    border-radius: 5px;
    background-color: var(--celeste);
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    transition: all, 0.5s;
    transition-property: background-color;
}

.register-form-button:hover {
    background-color: #0022AA;
}

/* LOGIN */

.login {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login-form input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
    margin: 10px;
}


.login-form-button {
    border: none;
    border-radius: 5px;
    background-color: var(--celeste);
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    transition: all, 0.5s;
    transition-property: background-color;
}

.login-form-button:hover {
    background-color: #0022AA;
}

@media (min-width:769px) {
    .register-form {
        width: 60%;
    }

    .login-form {
        width: 60%;
    }
}

@media (min-width:1024px) {
    .register-form {
        width: 50%;
    }

    .login-form {
        width: 50%;
    }
}